<div class="discount_code">
	<label for="discount">{{ 'cart.general.discount_code' | t }}</label>
	{% raw %}<input class="discount_code_input" autocomplete="off" type="text" name="discount" value="{{ discount_code }}" />{% endraw %}
	<div class="button-action">
		<div class="save save-discount_code_input">{{ 'cart.general.save_button' | t }}</div>
		<div class="close-ajaxcart__info">{{ 'cart.general.close_button' | t }}</div>
	</div>
</div> 