<div class="content-search-toggle">
	<div class="close-search-toggle" data-close-search-toggle></div>
	<div class="contents-search">
		<div class="contents-search-top">
			<div class="close-search" data-close-search-toggle></div>
			<details-modal class="header__search">
				<div class="search-modal">
					<div class="search-modal__content" tabindex="-1">
						<predictive-search class="search-modals__form">
							<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
								<div class="content-input">
									<div class="field">
										<input type="hidden" name="type" value="product" />
										<input type="hidden" name="options[prefix]" value="last" />
										<input class="search__input field__input" name="q" value="" placeholder="{{ 'general.search.submit' | t }}" aria-haspopup="listbox" aria-autocomplete="list" autocomplete="off" autocapitalize="off" spellcheck="false">
										<i class="icon-search"></i>
									</div>
								</div>
								<div class="predictive-search-content" style="display:none">
									<div class="predictive-search-content-product{% unless settings.show_search_blog %} full{% endunless %}" tabindex="-1" data-predictive-search>
										<div class="predictive-search__loading-state"></div>
									</div>
									{%- if settings.show_search_blog -%}
										<div class="predictive-search-content-blog" tabindex="-1" data-predictive-search-article>
											<div class="predictive-search__loading-state"></div>
										</div>	
									{%- endif -%}									
								</div>					
								<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
							</form>
						</predictive-search>
					</div>
				</div>
			</details-modal>
		</div>
	</div>
</div>
