<div class="d-none wpbingo-svg" style="display: none;">
  <svg class="svg" xmlns="http://www.w3.org/2000/svg">
    <symbol id="svg-icon-search" viewBox="0 0 511.999 511.999">
      <path d="M508.874,478.708L360.142,329.976c28.21-34.827,45.191-79.103,45.191-127.309c0-111.75-90.917-202.667-202.667-202.667    S0,90.917,0,202.667s90.917,202.667,202.667,202.667c48.206,0,92.482-16.982,127.309-45.191l148.732,148.732    c4.167,4.165,10.919,4.165,15.086,0l15.081-15.082C513.04,489.627,513.04,482.873,508.874,478.708z M202.667,362.667    c-88.229,0-160-71.771-160-160s71.771-160,160-160s160,71.771,160,160S290.896,362.667,202.667,362.667z"></path>
    </symbol>
    <symbol id="svg-icon-user" viewBox="0 0 512 512">
      <path d="M256,288.389c-153.837,0-238.56,72.776-238.56,204.925c0,10.321,8.365,18.686,18.686,18.686h439.747    c10.321,0,18.686-8.365,18.686-18.686C494.56,361.172,409.837,288.389,256,288.389z M55.492,474.628    c7.35-98.806,74.713-148.866,200.508-148.866s193.159,50.06,200.515,148.866H55.492z"></path>
      <path d="M256,0c-70.665,0-123.951,54.358-123.951,126.437c0,74.19,55.604,134.54,123.951,134.54s123.951-60.35,123.951-134.534    C379.951,54.358,326.665,0,256,0z M256,223.611c-47.743,0-86.579-43.589-86.579-97.168c0-51.611,36.413-89.071,86.579-89.071    c49.363,0,86.579,38.288,86.579,89.071C342.579,180.022,303.743,223.611,256,223.611z"></path>
    </symbol>
    <symbol id="svg-icon-cart" viewBox="0 0 23 21">
      <path d="M19.502 14.998H7a.835.835 0 0 1-.824-.716L4.798 5.114a.47.47 0 0 1-.005-.037l-.51-3.396H.832A.838.838 0 0 1-.002.838c0-.466.373-.843.834-.843h4.167c.412 0 .762.305.824.717l.513 3.417 15.838.081a.827.827 0 0 1 .664.34.85.85 0 0 1 .131.742l-2.667 9.103a.836.836 0 0 1-.8.603zM7.716 13.313H18.88l2.175-7.423L6.59 5.816l1.126 7.497zM9 17a2 2 0 1 1 .001 3.999A2 2 0 0 1 9 17zm9 0a2 2 0 1 1 .001 3.999A2 2 0 0 1 18 17z"></path>
    </symbol>
    <symbol id="svg-icon-shopbag" viewBox="0 0 32 32">
      <path d="M3.205 3.205v25.59h25.59v-25.59h-25.59zM27.729 27.729h-23.457v-23.457h23.457v23.457z"></path>
      <path d="M9.068 13.334c0 3.828 3.104 6.931 6.931 6.931s6.93-3.102 6.93-6.931v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732c0 3.234-2.631 5.864-5.864 5.864-3.234 0-5.865-2.631-5.865-5.864v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732z"></path>
    </symbol>
    <symbol id="svg-icon-search-thin" viewBox="0 0 32 32">
      <path d="M28.591 27.273l-7.263-7.264c1.46-1.756 2.339-4.010 2.339-6.471 0-5.595-4.535-10.129-10.129-10.129-5.594 0-10.129 4.535-10.129 10.129 0 5.594 4.536 10.129 10.129 10.129 2.462 0 4.716-0.879 6.471-2.339l7.263 7.264 1.319-1.319zM4.475 13.538c0-4.997 4.065-9.063 9.063-9.063 4.997 0 9.063 4.066 9.063 9.063s-4.066 9.063-9.063 9.063c-4.998 0-9.063-4.066-9.063-9.063z"></path>
    </symbol>
    <symbol id="svg-icon-quotations" viewBox="0 0 32 32">
      <path d="M 7.998,13.118c0,1.69, 1.32,3.060, 2.946,3.060c 0.522,0, 1.004-0.152, 1.43-0.4 c-0.146,1.636-0.97,4.022-3.99,6.454c-0.422,0.342-0.5,0.974-0.172,1.412c 0.192,0.256, 0.478,0.39, 0.766,0.39 c 0.208,0, 0.416-0.068, 0.594-0.212c 3.706-2.99, 4.632-6.062, 4.756-8.114C 14.54,13.084, 13.744,11.704, 13.016,10.984 C 12.95,10.914, 12.888,10.838, 12.814,10.776C 12.64,10.628, 12.484,10.524, 12.348,10.446C 12.342,10.442, 12.338,10.436, 12.332,10.434 c-0.010-0.006-0.020-0.008-0.030-0.012C 12.104,10.312, 11.962,10.26, 11.962,10.26l 0.010,0.024C 11.65,10.152, 11.312,10.058, 10.944,10.058 C 9.316,10.058, 7.998,11.428, 7.998,13.118zM 17.694,13.118c0,1.69, 1.318,3.060, 2.946,3.060c 0.522,0, 1.004-0.152, 1.43-0.4 c-0.146,1.636-0.97,4.022-3.99,6.454c-0.424,0.342-0.5,0.974-0.172,1.412c 0.192,0.256, 0.478,0.39, 0.766,0.39 c 0.208,0, 0.416-0.068, 0.594-0.212c 3.706-2.99, 4.632-6.062, 4.756-8.114c 0.212-2.624-0.586-4.004-1.312-4.724 c-0.068-0.070-0.13-0.146-0.204-0.208c-0.174-0.148-0.33-0.252-0.466-0.33c-0.006-0.004-0.010-0.008-0.016-0.012 c-0.010-0.006-0.020-0.008-0.030-0.012c-0.198-0.108-0.34-0.162-0.34-0.162l 0.010,0.024c-0.322-0.132-0.662-0.226-1.028-0.226 C 19.012,10.058, 17.694,11.428, 17.694,13.118z"></path>
    </symbol>
    <symbol id="svg-icon-fancy" viewBox="0 0 260 260">
      <path fill-rule="evenodd" d="M48.748,0.011H211.241a48.748,48.748,0,0,1,48.748,48.748V211.252A48.748,48.748,0,0,1,211.241,260H48.748A48.748,48.748,0,0,1,0,211.252V48.759A48.748,48.748,0,0,1,48.748.011Zm120.09,164H142V197a12,12,0,0,1-24,0V164.012H91.16A10.9,10.9,0,0,1,80,153.163v-51.3a50,50,0,0,1,99.993,0V152.85A11.159,11.159,0,0,1,168.838,164.012Z"></path>
    </symbol>
    <symbol id="svg-icon-model-xr" viewBox="0 0 14 16" fill="none">
      <path fill="currentColor" d="M6.99998 0.133975L13.8121 4.06698V11.933L6.99998 15.866L0.187819 11.933V4.06698L6.99998 0.133975ZM6.99998 1.86603L1.68782 4.933V11.067L6.99998 14.1339L12.3121 11.067V4.933L6.99998 1.86603Z"/>
      <path fill="currentColor" d="M7 15V7.67713C7.64559 7.27897 7.64559 7.27897 7.64559 7.27897L13.2222 4.11109V11.4444L7 15Z"/>
    </symbol>
    <symbol id="svg-icon-video" viewBox="0 0 42 42">
      <path d="M1 41H41V1H1V41Z"/>
      <path d="M0.5 41V41.5H1H41H41.5V41V1V0.5H41H1H0.5V1V41Z"/>
      <path d="M16.5075 12.888C15.8409 12.4953 15 12.976 15 13.7496V28.1404C15 28.9373 15.8866 29.414 16.5514 28.9746L28.064 21.3653C28.6808 20.9577 28.6572 20.0447 28.0201 19.6695L16.5075 12.888Z" opacity="0.6"/>
    </symbol>
    <symbol id="svg-icon-external_video" viewBox="0 0 42 42">
      <path d="M1 41H41V1H1V41Z"/>
      <path d="M0.5 41V41.5H1H41H41.5V41V1V0.5H41H1H0.5V1V41Z"/>
      <path d="M16.5075 12.888C15.8409 12.4953 15 12.976 15 13.7496V28.1404C15 28.9373 15.8866 29.414 16.5514 28.9746L28.064 21.3653C28.6808 20.9577 28.6572 20.0447 28.0201 19.6695L16.5075 12.888Z" opacity="0.6"/>
    </symbol>
    <symbol id="svg-icon-model" viewBox="0 0 42 42" fill="none">
      <path d="M1 41H41V1H1V41Z"/>
      <path class="icon-3d-badge-full-color-outline" d="M0.5 41V41.5H1H41H41.5V41V1V0.5H41H1H0.5V1V41Z"/>
      <g opacity="0.6">
        <path fill="currentColor" d="M21 11.134L29.5442 16.067V25.933L21 30.866L12.4558 25.933V16.067L21 11.134ZM21 12.866L13.9558 16.933V25.0669L21 29.1339L28.0442 25.0669V16.933L21 12.866Z"/>
        <path fill="currentColor" d="M20.9998 30V20.5849C21.8299 20.073 21.8299 20.073 21.8299 20.073L28.9998 16V25.4286L20.9998 30Z"/>
      </g>
    </symbol>
    <symbol id="svg-icon-close" viewBox="0 0 20 20" fill="none">
      <path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"/>
    </symbol>
  </svg>
</div>
