<div class="button-compare" data-title="{{ 'products.product.compare' | t }}">
    <button type="button" aria-label="{{ 'products.product.compare' | t }}" class="" button-compare data-product-handle="{{ product.handle }}">{{ 'products.product.compare' | t }}</button>
</div>
{% schema %}
  {
    "name": "Single product compare",
    "settings": [],
    "presets": [{"name": "Single product compare","category": "Single product"}]
  }
{% endschema %}