<section id="wishlists" class="wishlist">
	<div class="container">
		<div class="wishlist_empty hidden">{{ 'products.product.empty_wishlist' | t }}</div>
		<div class="page__inner">
			<div class="page__content">
				<div class="wishlist__grid flex loaded loading_wishlist" grid-wishlist="">
				</div>
			</div>
		</div>
	</div>
</section>
{% schema %}
{
  "name": "Wishlist",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [{"name": "Wishlist"}]
}
{% endschema %}
